toolbar#TabsToolbar {
  height: 0 !important;
  min-height: 0 !important;
  padding-top: 10px;
}

.toolbar-items {
  display: none;
}

hbox#nav-bar-customization-target {
  padding-left: 70px !important;
}
/* Remove some stuff from context menus  */
#context-sendimage, #context-sep-setbackground, #context-setDesktopBackground, #context-inspect-a11y {
  display: none !important;
}
