(
    max_notifications: 4,
    timeout: 10000,
    poll_interval: 16,
    history_length: 20,
    replacing_enabled: true,
    replacing_resets_timeout: true,
    min_window_width: 300,
    //min_window_height: 40,

    debug: false,
    debug_color: Color(r: 0.0, g: 1.0, b: 0.0, a: 1.0),
    debug_color_alt: Color(r: 1.0, g: 0.0, b: 0.0, a: 1.0),

    layout_blocks: [
        (
            name: "root",
            parent: "",
            hook: Hook(parent_anchor: TM, self_anchor: TM),
            offset: Vec2(x: 0.0, y: 40.0),
            render_anti_criteria: [Progress],
            //render_criteria: [HintImage],
            // https://github.com/Toqozz/wired-notify/wiki/NotificationBlock
            params: NotificationBlock((
                monitor: 0,
                border_width: 0,
                border_rounding: 8,
                //background_color: Color(r: 0.15686, g: 0.15686, b: 0.15686, a: 1.0),
                background_color: Color(hex: "#99000000"),
                border_color: Color(hex: "#99000000"),
                border_color_low: Color(hex: "#99000000"),
                border_color_critical: Color(hex: "#99000000"),
                border_color_paused: Color(hex: "#99000000"),
                gap: Vec2(x: 0.0, y: 12.0),
                notification_hook: Hook(parent_anchor: BL, self_anchor: TL),
            )),
        ),

        (
            name: "image",
            parent: "root",
            hook: Hook(parent_anchor: TL, self_anchor: TL),
            offset: Vec2(x: 0.0, y: 0.0),
            // https://github.com/Toqozz/wired-notify/wiki/ImageBlock
            params: ImageBlock((
                image_type: Hint,
                padding: Padding(left: 6.0, right: 2.0, top: 6.0, bottom: 6.0),
                rounding: 6.0,
                scale_width: 64,
                scale_height: 64,
                filter_mode: Lanczos3,
            )),
        ),

        (
            name: "summary",
            parent: "image",
            hook: Hook(parent_anchor: MR, self_anchor: BL),
            offset: Vec2(x: 0.0, y: 0.0),
            // https://github.com/Toqozz/wired-notify/wiki/TextBlock
            params: TextBlock((
                text: "%s",
                font: "Arial Bold 11",
                ellipsize: Middle,
                color: Color(hex: "#F3F3F3"),
                color_hovered: Color(hex: "#DEDEDE"),
                padding: Padding(left: 8.0, right: 8.0, top: 6.0, bottom: 2.0),
                dimensions: (width: (min: 50, max: 150), height: (min: 0, max: 0)),
            )),
        ),

        (
            name: "body",
            parent: "summary",
            hook: Hook(parent_anchor: BL, self_anchor: TL),
            offset: Vec2(x: 0.0, y: -3.0),
            // https://github.com/Toqozz/wired-notify/wiki/ScrollingTextBlock
            params: ScrollingTextBlock((
                text: "%b",
                font: "Arial 11",
                color: Color(hex: "#F3F3F3"),
                color_hovered: Color(hex: "#DEDEDE"),
                padding: Padding(left: 8.0, right: 8.0, top: 2.0, bottom: 6.0),
                width: (min: 150, max: 250),
                scroll_speed: 0.1,
                lhs_dist: 35.0,
                rhs_dist: 35.0,
                scroll_t: 1.0,
            )),
        ),

        (
            name: "rootProgress",
            parent: "",
            hook: Hook(parent_anchor: TR, self_anchor: TR),
            offset: Vec2(x: -12.0, y: 40.0),
            render_criteria: [Progress],
            // https://github.com/Toqozz/wired-notify/wiki/NotificationBlock
            params: NotificationBlock((
                monitor: 0,
                border_width: 0,
                border_rounding: 8,
                background_color: Color(hex: "#99000000"),
                border_color: Color(hex: "#99000000"),
                gap: Vec2(x: 0.0, y: 12.0),
                notification_hook: Hook(parent_anchor: BL, self_anchor: TL),
            )),
        ),
        (
            name: "progressBlock",
            parent: "rootProgress",
            hook: Hook(parent_anchor: TM, self_anchor: TM),
            offset: Vec2(x: 0.0, y: 0.0),
            params: ProgressBlock((
                padding: Padding(left: 12.0, right: 12.0, top: 12.0, bottom: 12.0),
                border_width: 0.0,
                border_rounding: 10.0,
                fill_rounding: 10.0,
                border_color: Color(hex: "#F3F3F3"),
                background_color: Color(hex: "#99000000"),
                fill_color: Color(hex: "#F3F3F3"),
                width: 276.0,
                height: 20.0,
                border_color_hovered: Color(hex: "#F3F3F3"),
                background_color_hovered: Color(hex: "#99000000"),
                fill_color_hovered: Color(hex: "#F3F3F3"),
            )),
        ),
        (
            name: "progressSummary",
            parent: "progressBlock",
            hook: Hook(parent_anchor: TM, self_anchor: BM),
            offset: Vec2(x: 0.0, y: 0.0),
            params: TextBlock((
                text: "%s",
                ellipsize: NoEllipsize,
                font: "Arial Bold 11",
                color: Color(hex: "#F3F3F3"),
                color_hovered: Color(hex: "#DEDEDE"),
                padding: Padding(left: 0.0, right: 0.0, top: 6.0, bottom: 12.0),
                dimensions: (width: (min: 0, max: 300), height: (min: 0, max: 0)),
            )),
        ),
        
        (
            name: "progressBody",
            parent: "progressBlock",
            hook: Hook(parent_anchor: BM, self_anchor: TM),
            offset: Vec2(x: 0.0, y: 0.0),
            params: TextBlock((
                text: "%b",
                font: "Arial 11",
                ellipsize: NoEllipsize,
                color: Color(hex: "#F3F3F3"),
                color_hovered: Color(hex: "#DEDEDE"),
                padding: Padding(left: 0.0, right: 0.0, top: 12.0, bottom: 6.0),
                dimensions: (width: (min: 0, max: 300), height: (min: 0, max: 0)),
            )),
        ),
    ],
)
