//@theme "/usr/share/rofi/themes/Indego.rasi"
//@theme "/usr/share/rofi/themes/arthur.rasi"
//@theme "/usr/share/rofi/themes/c64.rasi"
//@theme "/usr/share/rofi/themes/Indego.rasi"
//@theme "/usr/share/rofi/themes/Arc-Dark.rasi"
@theme "/home/kio/.local/share/rofi/themes/slate.rasi"
